@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    margin: 5px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgb(60, 55, 106);
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 32vh 32vh 32vh;
    grid-template-areas: 
    "header header header header"
    "element1 element1 element2 element3"
    "element4 element5 element2 element6"
    "element4 element7 element7 element7";
    gap: 5px;
    font-family: 'Roboto', sans-serif;
    max-width: 100vw;
    padding-left: 50px;
    padding-right: 50px;
}

header {
    grid-area: header;
    padding-left: 70px;
    padding-right: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 31, 63, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: calc(100% - 120px);
}

header nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
}

header nav a {
    margin: 20px;
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 2px;
    border-radius: 10px;
}

header nav a:hover {
    border-width: 2px;
    border-color: #0353f4;
    border-style: solid;
    /* background: #0353f4; */
    color: #fff;
    box-shadow: 0 0 50px #0353f4;
}

.element {
    background-color: rgb(23, 20, 69);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    transition: 0.2s;
    position: relative;
}

.element:hover {
    background-color: rgb(247, 133, 35);
    transform: scale(102%);
}

.element1 {
    grid-area: element1;
    /*height: 33vh;*/
    /* width: 50vw; */
}
.element2 {
    grid-area: element2;
    /* height: 66vh; */
    /* width: 25vw; */
}
.element3 {
    grid-area: element3;
    /* height: 33vh; */
    /* width: 25vw; */
}
.element4 {
    grid-area: element4;
    /* height: 66vh; */
    /* width: 25vw; */
}
.element5 {
    grid-area: element5;
    /* height: 33vh; */
    /* width: 25vw; */
}
.element6 {
    grid-area: element6;
    /* height: 33vh; */
    /* width: 25vw; */
}
.element7 {
    grid-area: element7;
    /* height: 33vh; */
    /* width: 75vw; */
}
.elementBasket {
    grid-area: elementBasket;
}
#basket {
    width: 64px;
    height: 64px;
}

.element > img,
.element > input.osImage {
    align-self: center;
    height: 15vh;
}

.element > p {
    margin-left: 10px;
    margin-right: 10px;
}

.basketWrapper {
    position: relative;
    right: 0;
    justify-self: end;
    align-self: center;
}

.headDivWrapper {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

#basketNote {
    display: block;
    position: absolute;
    margin: 0;
    margin-bottom: 2px;
    left: 2px;
    bottom: 1px;
    color: rgb(87, 216, 100);
    font-weight: bold;
    text-shadow: 
    1px 0px 2px black,
    -1px 0px 2px black,
    0px 1px 2px black,
    0px -1px 2px black;
}

#cross {
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    right: 0;
    top: 0;
}

.pop {
    background-color: #2a52be;
    border: solid 10px #00BFFF;
    box-sizing: border-box;
    position: fixed;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 500px;
    max-width: 80%;
    z-index: 10;
    overflow-y: auto;
    max-height: 100%;
}

.pop .popHeader {
    position: relative;
    display: flex;
    align-content: space-between;
    width: 100%;
}

.pop .popHeader .closePop {
    position: absolute;
    top: 0;
    right: 0;
}

.pop .popHeader .popTitle {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 2em;
}

.pop .popMain {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

.pop.active {
    transform: translate(-50%, -50%) scale(1);
}

#overlay {
    z-index: 9;
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}
  
#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 5px;
    transition: all 0.5s ease;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.nav-active {
    transform: translateY(0);
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

@media (max-width: 1170px) {
    header {
        backdrop-filter: none;
        background-color: rgba(0, 31, 63, 0.85);
    }
    nav {
        position: absolute;
        right: 0;
        top: 88px;
        min-height: 100vh;
        background-color: rgba(0, 31, 63, 0.85);
        backdrop-filter: inherit; 
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
        transform: translateY(100vh);
        transition: All 0.5s ease-in;
        z-index: 10000000;
    }
    
    .burger {
        display: block;
        position: absolute;
        right: 10%;
        align-self: center;
        cursor: pointer;
    }
    
    .basketWrapper {
        justify-self: start;
        transition: 0.2s;
        margin: 10px;
    }
}

@media (max-width: 850px) {
    body {
        display: flex;
        flex-direction: column;
        padding-top: 95px;
    }
    
    .element {
        min-height: 300px;
    }
}
